<!-- commented this next line out -->
<!--<%= @user.name %>, <%= @user.email %>-->

<!--Listing 7.8: The user show view with name and Gravatar.-->
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>

<h1>Enrollments</h1>

<table>
  <thead>
    <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Description</th>
    <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.code %></td>
        <td><%= course.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
