<%= form_with(model: subject, local: true) do |form| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :identifier %>
    <%= form.number_field :identifier, id: :subject_identifier %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment, id: :subject_comment %>
  </div>

  <div class="field">
    <%= form.label :term %>
    <%= form.text_field :term, id: :subject_term %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :subject_name %>
  </div>

  <div class="field">
    <%= form.label :abbreviation %>
    <%= form.text_field :abbreviation, id: :subject_abbreviation %>
  </div>

  <div class="field">
    <%= form.label :segments %>
    <%= form.text_field :segments, id: :subject_segments %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
