<p id="notice"><%= notice %></p>
<div id="blogpost-table">
  <h1>Courses</h1>
  <table>
      <thead>
          <tr>
              <th>Name</th>
              <th>Code</th>
              <th>Description</th>
              <th>Enroll</th>
              <th colspan="3"></th>
          </tr>
      </thead>
      <tbody>
          <% @course.each do |course| %>
              <tr>
                  <td><%= course.name %></td>
                  <td><%= course.code %></td>
                  <td><%= course.description %></td>
                  <td><%= button_to "Enroll", controller: "enrollments", params: {enrollment: {course_code: course.code, user_id: current_user.id}} %></td>
              </tr>
          <% end %>
      </tbody>
  </table>
</div>

